@page {
  margin: 1cm;
}

body {
  font: 16px Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
}

.name {
  font-size: 24px;
}

.basic-information {
  display: flex;
  flex-flow: column nowrap;
}

.target {
  order: 2;

  &:before {
    clear: both;
  }
}

.target .block-text,
ul {
  padding-left: 2rem;
}

.general-info {
  order: 3;
}

.contacts {
  order: 1;
}

.block-header,
.professional-info__header {
  font-size: 18px;
  margin-top: 25px;
}

.avatar {
  float: right;
}

ul {
  line-height: 1.5;
  list-style-type: none;
}

.avatar__image {
  border-radius: 0;
  width: 200px;
  height: 200px;
}

.social-media-links,
.general-info,
.icon,
.mini-icon,
.preview,
.preview__big,
#print-button,
.not-for-print {
  display: none;
}

.email {
  color: #000;
  text-decoration: none;
}

.project__block {

  .github_link {
    color: #000;
    text-decoration: none;
  }
}

table td{
  vertical-align: top;
}