@import "reset";
@import "base";

$main-color: #139575;
$hover-color: #4CC519;

.about-me {
  width: 100%;
  color: #fff;
  background: $main-color;
  padding: 4rem 0;
}

.avatar {
  display: block;
  width: 15rem;
  height: 15rem;
  margin: auto;
}

.avatar__image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.name,
.profession {
  text-align: center;
}

.name {
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.profession {
  font-size: 1.5rem;
}

.basic-information {
  padding-left: 3rem;
  width: 90%;
}

.block-header {
  display: inline-block;
  font-size: 2rem;
  margin: 2.5rem 0;
  max-width: 90%;
}

.block-text {
  padding-left: 3rem;
  line-height: 1.5;
  font-size: 1.1rem;
}

.icon {
  font-size: 2.5rem;
  display: inline-block;
  padding-right: 0.5rem;
  color: #fff;
  text-decoration: none;
}

.mini-icon {
  font-size: 1.5rem;
  display: inline-block;
  padding-right: 0.5rem;
}

.mini-icon__mobile {
  font-size: 2.5rem;
}

.contacts__block-text {
  padding: 0;
  display: inline-block;
}

.contact-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.social-media-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  &__icon {
    font-size: 3rem;
    color: #fff;
    border-radius: 50%;

    &:hover {
      color: $hover-color;
    }
  }
}

.social-media-link {
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.professional-info {
  width: 100%;
  padding: 4rem 0 4rem 3rem;
}

.professional-info__block {
  line-height: 1.5;
  font-size: 1.1rem;
}

.preview {
  display: block;
  width: 20rem;
  height: 10rem;
  line-height: 10rem;
  margin-bottom: 2rem;
  position: relative;

  &:hover .preview__image-desc {
    visibility: visible;
    background-color: rgba($main-color, 0.702);
  }
}

.preview__image,
.preview__image-desc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.furniture-store {
  background: #4CC519 url(../img/furniture_store.png) 50% 0;
  background-size: cover;
}

.design-studio {
  background: #4CC519 url(../img/design_studio.png) 50% 0;
  background-size: cover;
}

.preview__image-desc {
  visibility: hidden;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 2px #595959;
  background-color: rgba($main-color, 0);
  transition: background-color 0.2s ease-out;
}

.preview__big {
  position: relative;
  display: block;
  width: 90%;
  height: 25rem;
  line-height: 25rem;
  margin: 1rem 0;
}

.preview__big-image-desc {
  visibility: visible;
  background-color: rgba($main-color, 0.5);
  font-size: 1.5rem;
  transition: background-color 0.2s ease-out;
}

.preview__big:hover .preview__big-image-desc {
  background-color: rgba($main-color, 0.802);
}

.email {
  color: #fff;

  &:hover {
    color: $hover-color;
    text-decoration: none;
  }
}

.links-for-print {
  display: none;
}

.project__block {
  width: 90%;
  padding-bottom: 2rem;
}

.github_link {
  color: $main-color;

  &:hover {
    text-decoration: none;
  }
}

@media screen and (min-width: 600px) {

  .preview {
    width: 15rem;
    height: 7.5rem;
  }
}

@media screen and (min-width: 1000px) {

  .about-me {
    width: 40%;
  }

  .professional-info {
    width: 60%;
  }

  .preview {
    width: 30rem;
    height: 15rem;
    line-height: 15rem;
  }
}