{% extends "_base.html" %}

{% block content %}
<section class="professional-info">

    <h2 class="block-header">Design studio project</h2>

    <section class="professional-info__block">

        <p class="project__block">It is my first studying project with HTML and CSS. This design was made by Rudhi Sasmito.
            I've made it responsive, using mobile first and progressive enhancement strategies. The project is written with sass and compiled with Gulp.</p>

        <p  class="project__block">You can find the source code of the project on <a href="https://github.com/dandel10n/design_studio_project" class="link">github</a> or take a look at live demo:</p>

        <ul class="links-for-print">
            <li>https://github.com/dandel10n/design_studio_project</li>
            <li>{{ base_url }}/design_studio_project/</li>
        </ul>

        <a href="{{ base_url }}/design_studio_project/" class="preview__big">
            <div class="preview__image preview__big-image design-studio"></div>
            <p class="preview__image-desc preview__big-image-desc">Live demo</p>
        </a>

    </section>
</section>
{% endblock %}