{% extends "_base.html" %}

{% block content %}
<section class="professional-info">

    <div class="professional-info__header">Furniture project</div>

    <section class="professional-info__block">

        <p class="project__block">The project is written with sass and compiled with Gulp. I've made it responsive, using mobile first and progressive enhancement strategies.</p>

        <p>You can find source code of the project on <a href="https://github.com/dandel10n/furniture_store" class="github_link">github</a> or take a look at live demo.</p>

        <a href="#" class="preview__big">
            <img src="static/img/furniture_store.png" alt="" class="preview__image preview__big-image">
            <p class="preview__image-desc preview__big-image-desc">Live demo</p>
        </a>

    </section>
</section>
{% endblock %}