{% extends "_base.html" %}

{% block content %}
<section class="professional-info">

    <h2 class="block-header">Furniture store project</h2>

    <section class="professional-info__block">

        <p class="project__block">The project is written with sass and compiled with Gulp. I've used nunjucks for thml templates. The project is made responsive, using mobile first and progressive enhancement strategies. It was designed by Yana Smirnova and Natalia Izum.</p>

        <p  class="project__block">You can find the source code of the project on <a href="https://github.com/dandel10n/furniture_store" class="github_link">github</a> or take a look at live demo:</p>

        <ul class="links-for-print">
            <li>https://github.com/dandel10n/furniture_store</li>
            <li>{{ base_url }}/furniture_store.html</li>
        </ul>

        <a href="#" class="preview__big">
            <div class="preview__image preview__big-image furniture-store"></div>
            <p class="preview__image-desc preview__big-image-desc">Live demo</p>
        </a>

    </section>
</section>
{% endblock %}