{% extends "_base.html" %}

{% block content %}
<section class="professional-info">

    <h2 class="block-header">Furniture store project</h2>

    <section class="professional-info__block">

        <p class="project__block">The project is written with sass and compiled with Gulp. I've made it responsive, using mobile first and progressive enhancement strategies.</p>

        <p  class="project__block">You can find the source code of the project on <a href="https://github.com/dandel10n/furniture_store" class="github_link">github</a><span class="links-for-print">github (https://github.com/dandel10n/furniture_store)</span> or take a look at live demo<span class="links-for-print">({{ base_url }}/furniture_store.html)</span>.</p>

        <a href="#" class="preview__big">
            <div class="preview__image preview__big-image furniture-store"></div>
            <p class="preview__image-desc preview__big-image-desc">Live demo</p>
        </a>

    </section>
</section>
{% endblock %}