{% extends "_base.html" %}

{% block content %}
<section class="professional-info">

    <h2 class="block-header">Global factoring network site project</h2>

    <section class="professional-info__block">

        <p class="project__block">This is one of test tasks which I made for Front-End developer position. 
        The project is written with sass and compiled with Gulp. It <strong>isn't responsive</strong> (it was a requirement).</p>

        <p  class="project__block">You can find the source code of the project on <a href="https://github.com/dandel10n/global_factoring_network_site" class="link">github</a> or take a look at live demo:</p>

        <ul class="links-for-print">
            <li>https://github.com/dandel10n/global_factoring_network_site</li>
            <li>{{ base_url }}/global_factoring_network_site/</li>
        </ul>

        <a href="{{ base_url }}/global_factoring_network_site/" class="preview__big">
            <div class="preview__image preview__big-image global-factoring-network"></div>
            <p class="preview__image-desc preview__big-image-desc">Live demo</p>
        </a>

    </section>
</section>
{% endblock %}