{% extends "_base.html" %}

{% block content %}
<section class="professional-info">

    <h2 class="block-header">Wiki viewer</h2>

    <section class="professional-info__block">

        <p class="project__block">This is a study project from <a href="https://www.freecodecamp.com/" class="link">FreeCodeCamp</a>. The project is written with JQuery. </p>

        <p  class="project__block">You can find the source code of the project on <a href="https://github.com/dandel10n/wiki_viewer" class="link">github</a> or take a look at live demo:</p>

        <ul class="links-for-print">
            <li>https://github.com/dandel10n/wiki_viewer</li>
            <li>{{ base_url }}/wiki_viewer/</li>
        </ul>

        <a href="{{ base_url }}/wiki_viewer/" class="preview__big">
            <div class="preview__image preview__big-image wiki-viewer"></div>
            <p class="preview__image-desc preview__big-image-desc">Live demo</p>
        </a>

    </section>
</section>
{% endblock %}